Package: com.pixelomer.mobilemeadow
Name: MobileMeadow
Depends: mobilesubstrate, firmware (>=10.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Turn your phone into a meadow
  Turn your phone into a meadow.
  Add flowers to your apps.
  Let birds fly on your screen.
  Welcome to MobileMeadow.
  .
  Requires iOS 10.0 or later.
  NOTE: This tweak may be somewhat unstable on iOS 10. iOS 11 and later is recommended.
Maintainer: pixelomer
Author: pixelomer
Section: Tweaks
