Package: com.pixelomer.mobilemeadow
Name: MobileMeadow
Depends: mobilesubstrate, firmware (>=10.0)
Version: 0.9.1
Architecture: iphoneos-arm
Description: Turn your phone into a meadow
  Turn your phone into a meadow.
  Add flowers to your apps.
  Let birds fly on your screen.
  Receive short and encouraging letters from strangers.
  Send others your own letters.
  Welcome to MobileMeadow.
  .
  Requires iOS 10.0 or later.
  NOTE: This tweak may be somewhat unstable on iOS 10.
Maintainer: PixelOmer
Author: PixelOmer
Section: Tweaks
